@tailwind base;
@tailwind components;
@tailwind utilities;

/* herosection */

.input-business {
  background-color: #181818;
}

.input-fantasy {
  background-color: #dddedf;
}

[data-theme="business"] .input-color {
  @apply input-business;
}

[data-theme="fantasy"] .input-color {
  @apply input-fantasy;
}
.btn-business {
  background-color: #c0c1c2;
}

.btn-fantasy {
  background-color: #c0c1c2;
}

[data-theme="business"] .btn-color {
  @apply btn-business;
}

[data-theme="fantasy"] .btn-color {
  @apply btn-fantasy;
}

/* signup&loginpage */
.bg-theme-business {
  background-image: url("./assets/heroPic.png");
  background-size: cover;
}

.bg-theme-fantasy {
  background-image: url("./assets/heroPic.png");
  background-size: cover;
}

[data-theme="business"] .bg-themed {
  @apply bg-theme-business;
}

[data-theme="fantasy"] .bg-themed {
  @apply bg-theme-fantasy;
}
/* signup page */
.btn-hover-business:hover {
  background-color: #171717;
}

.btn-hover-fantasy:hover {
  background-color: #c0c1c2;
}

[data-theme="business"] .btn-hover {
  @apply btn-hover-business;
}

[data-theme="fantasy"] .btn-hover {
  @apply btn-hover-fantasy;
}

@layer components {
  .sideBarNav {
    @apply relative w-full  text-lg  text-center before:absolute before:top-0 before:left-0 before:bg-primary before:w-0  before:h-0.5  hover:before:w-full before:transition-all before:duration-500 after:absolute after:bottom-0 after:right-0 after:bg-primary after:w-0 after:h-0.5 hover:after:w-full after:transition-all after:duration-500;
  }

  .activeSideBarNav {
    @apply relative w-full   text-xl text-primary text-center before:absolute before:top-0 before:left-0 before:bg-primary before:w-full  before:h-0.5 after:absolute after:bottom-0 after:right-0 after:bg-primary after:w-full after:h-0.5;
  }
  /* .activeSideBarNav {
    @apply bg-base-300;
  } */
}
/* search page */
.bg-color-fantasy {
  background-color: white;
}
.bg-color-business {
  background-color: #c0c1c2;
}

[data-theme="business"] .bg-color {
  @apply bg-color-business;
}

[data-theme="fantasy"] .bg-color {
  @apply bg-color-fantasy;
}
